site_name: System Design Interview Ready Notes
site_description: Comprehensive notes for system design interviews, based on InterviewReady and other top resources.
site_author: Shubham Mathur

theme:
  name: material
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.code.annotate

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.arithmatex:
      generic: true

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

nav:
  - Home: index.md
  - Foundations:
      - System Design Foundations: System Design.md
      - Reliability: Reliability.md
  - Networking & Traffic:
      - DNS: DNS.md
      - Load Balancing: LoadBalancer.md
      - CDN: CDN.md
      - Rate Limiting: Rate Limiting.md
  - Performance:
      - Distributed Caching: Caching.md
      - High Latency: High Latency.md
      - Handling Traffic Surges: Handling traffic surge.md
  - Architecture:
      - Microservices: Microservices.md
